<h3 class="ilHeader">{HEADER}</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <p>{STATUS}</p>
        <!-- BEGIN keywords -->
        <p>{LABEL_KEYWORDS} {KEYWORDS}</p>
        <!-- END keywords -->
        <!-- BEGIN authors -->
        <p>{LABEL_AUTHORS} {AUTHORS}</p>
        <!-- END authors -->
        <!-- BEGIN license -->
        <p>{LICENSE}</p>
        <!-- END license-->
    </div>
</div>
<!-- BEGIN publish -->{PUBLISH} <!--END publish -->
<!-- BEGIN republish -->{REPUBLISH} <!--END republish -->
<!-- BEGIN unpublish -->{UNPUBLISH} <!--END unpublish -->
<!-- BEGIN help -->{HELP} <!--END help -->
